<img class="menu-icon" src="/icons/menu-icon.svg" alt="">
<img class="back-icon hidden" src="/icons/back-icon.svg" alt="">
<div class="menu hidden">
    <!-- <img class="menu-bg" src="/images/background.png" alt=""> -->
    <div class="menu-points">
       <div class="menu-point"><a href="/">Головна</a></div>
       <div class="menu-point"><a href="/concepts">Концепція</a></div>
       <div class="menu-point"><a href="/participants">Учасники</a></div>
    </div>
    <img src="" alt="">
 </div>