<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Concepts</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="pages/concepts/concepts.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
   <div class="main">
      <div class="grey-background">
         <img class="pole" src="/images/pole.png" alt="pole">
      </div>
      <div class="text-concept">
         <p class="concept-title">«ПОЛЕ»</p>
         <p class="concept-subtitle">Виставково-перформативний проєкт із залученням доповненої реальності у виконанні волинських митців.</p>
         <p>«ПОЛЕ» - це про спогади, про минуле, нашу спадщину і переосмислену її трансформацію завдяки сучасним технологіям у творах молодих авторів. Ідея забутих зв’язків із предками, природою, справжністю, що видозмінюється через авторське бачення у натуральному матеріалі в скульптурній формі. Розміщення в полі, посеред лісу, на підвищеннях. Скульптурні лиця, образи, з уяви кожного з учасників, є творенням певного міфологізованого узагальненого образу його предка. Ще з часів Палеоліту, Еллади, та, власне, нашого Трипілля, народи повсякчас зверталися з великою шаною до культу предків, проводячи рутуали. Власне, данний проєкт можна розглядати як звернення та уособлення ритуалізованого обряду новітнього формату, де збираються люди у відкритому просторі для споглядання перформативного дійства під акустичний супровід народного співу. Завдяки ініціатору, організатору, особі, що уподоблюється шаману і проводить певний ритуал, політ духу для споглядаючих як подорож до архетипного світу, минулого. Культ єднання, що панував у прадавніх суспільств, є позачасовим, вічним. Звернення до “часу сновидінь”, де мешкають могутні предки, що дали нам знання, віру у священні знаряддя, ритуальний момент, який дозволяє стикнутися нам сьогодні і зараз з цією безкінечністю, стати одним цілим з часом і простором, нашими предками – там самим, наповнивши життя сенсами. Будь-яке сакральне таїнство, відбуваючись, переносить нас у щось вище, дозволяючи возз’єднатися з богами. Дивлячись на камінь, стародавня людина бачила зовсім не інертний, неживий шматок скелі — навпаки: відчувала силу, міцність, сталість і те абсолютне буття, яке настільки разюче відрізнялося від крихкого буття людини. Сама інакшість каменю робила його священним. Ось чому камінь в Стародавньому світі часто сприймався як ієрофанія - одкровення священного початку. Схожим чином дерево, здатне змінюватися і оновлюватися без видимих зусиль, втілювало в собі і наочно виявляло чудову життєву силу, недоступну смертним. Саме тому природі поклонялися як одкровенню таємної сили, що вказувала на священну реальність.</p> 
         <p>Проєкт «ПОЛЕ» запрошує глядача стати учасником цього процесу творення та співучасті у зануренні та поглибленні в архаїчні знання та символи за допомогою сучасних віртуальних технологій; відірвавшись від реальності буденного світу, перенестись на якийсь час в прадавній міф.</p>
      </div>
   </div>
</body>
</html>
