<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>AR demka</title>
   <!-- TODO: add css reset for style purpose -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="styles/reset.css">
   <link rel="stylesheet" href="pages/main/main.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="styles/global.css">
   <!-- working combo -->
   <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
   <script src="libs/aframe-ar.js"></script> 
</head>
<body>
  <a-scene embedded arjs='sourceType: webcam;'>
    <a-assets>
	    <video id="penguin-sledding" autoplay loop="true" muted="true" src="gifs/tiger-nigger.mp4"></video>
	  </a-assets>
    <a-marker type='pattern' url='data/n.patt'>
     <a-video src="#penguin-sledding" rotation="270 0 0" play="true"></a-video>
    </a-marker>

      <!-- handle marker with your own pattern -->
      <a-marker type='pattern' url='data/pattern-python.patt'>
        <!-- <a-image src="images/hero.jpeg" width="3" height="1.5"></a-image> -->
        <a-box position='0 0.5 0' material='color: red;'></a-box>
      </a-marker>
  
      <!-- handle marker with hiro preset -->
      <a-marker preset='hiro'>
        <a-box position='0 0.5 0' material='color: green;'></a-box>
      </a-marker>
  
      <!-- add a simple camera -->
      <a-entity camera></a-entity>
    </a-scene>
    <div class="main tutorial">
      <%- include ('./partials/menu') %>
      <div class="main-content">
        <div class="tutorial-2 hidden">
            <img class="tutorial-arrow" src="/icons/tutorial-arrow-2.svg" alt="">
            <div class="main-tutorial-text">Інформація про художників</div>
            <div class="lower-tutorial-text"><b>ОК</b></div>
        </div>
        <!-- tutorial stuff -->
        <div class="tutorial-1">
            <div class="upper-tutorial-text">Щоб побачити <b>ПОЛЕ</b> наведіться на зображення</div>
            <div class="lower-tutorial-text"><b>ОК</b></div>
        </div>
          <!-- tutorial stuff -->
      </div>
  </div>
  <script>
    window.addEventListener('click', function () {
    var v = document.querySelector('#penguin-sledding');
    v.play();
    });
  </script>
   <!-- libs -->
   <script src="libs/jquery-3.5.1.min.js"></script>
   <script src="pages/main/main.js" defer></script>
</body>
</html>
