<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Concepts</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous" />
    <link rel="stylesheet" href="pages/participants/participants.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="author">
        <img class="participant-pic" src="/images/rectangle-42-grey.jpg" alt="Maksym Son">
          <div class="participants-text">
            <p>Максим Сон – український художник, який досліджує взаємозв’язки природи та духовних практик повсякденного життя, а також сучасні підходи до народної культури.</p>
            <p>З 2016 року Максим розвивається як вуличний художник та художник графіті, що привело його до початку свідомої мистецької кар’єри у 2018 році. У своїй поточній практиці Максим досліджує та змішує різні засоби, такі як графіка, колаж, звукові експерименти, відео і фотографія.</p>
            <p>Основний фокус його останніх робіт полягає в поєднанні пейзажів і відблисків пам’яті з графічними формами та символами.</p>
          </div>
          <a class="ms-inst" href="https://instagram.com/son.qr?igshid=NzZhOTFlYzFmZQ==">
              <img class="inst" src="/images/instagram-icon.svg" alt="Instagram icon">
            </a>
      </div>
      <div class="author">
        <img class="participant-pic" src="/images/rectangle-42-grey.jpg" alt="Maksym Navrotskyi">
        <div class="participants-text">
          <p>Максим Навроцький — гей Максим Навроцький — гей Максим Навроцький — гей Максим Навроцький — гей Максим Навроцький — гей Максим Навроцький — гей Максим Навроцький — гей</p>
        </div>
        <a href="https://instagram.com/m.navrotsky?igshid=NzZhOTFlYzFmZQ==">
            <img class="inst" src="/images/instagram-icon.svg" alt="Instagram icon">
        </a>
      </div>
      <div class="author">
        <img class="participant-pic" src="/images/rectangle-42-grey.jpg" alt="Mykhailo Phen">
        <div class="participants-text">
          <p>Михайло Фєн — лох Михайло Фєн — лох Михайло Фєн — лох Михайло Фєн — лох Михайло Фєн — лох Михайло Фєн — лох Михайло Фєн — лох</p>
        </div>
        <a href="https://instagram.com/funphen?igshid=NzZhOTFlYzFmZQ==">
            <img class="inst" src="/images/instagram-icon.svg" alt="Instagram icon">
        </a>
      </div>
      <div class="author">
        <img class="participant-pic" src="/images/rectangle-42-grey.jpg" alt="Solomiia Lyzun">
        <div class="participants-text">
          <p>Соля - просто лучша</p>
        </div>
        <a href="https://instagram.com/solyaluchsha?igshid=NGVhN2U2NjQ0Yg==">
              <img class="inst" src="/images/instagram-icon.svg" alt="Instagram icon">
        </a>
      </div>
    </div>
  </body>
</html>
