html, body {
    font-family: 'Teko', sans-serif !important;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 50px;
    flex-wrap: wrap;
}

.canvas-place {
    height: 500px;
    width: 500px; 
    position: relative;
    overflow: hidden;
}

video, canvas {
    width: 700px !important;
    height: 700px !important;
}

.main h1 {
   width: 100%;
}

.left, .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 49%;
}

.right {
    margin-left: 20px;
}

@media (max-width:500px)  { 
    .left, .right {
        width: 100%;
    }
}