html, body {
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
}

body {
    background-color: #D5D5D5;
}

.main {
    height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    /*display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;*/
}

.grey-background {
    width: 100%;
    height: 203px;
    background-color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 4px rgb(59, 59, 59);
}

.text-concept {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 16px 36px 8px;
    font-weight: 300;
    font-size: 16px;
}
