html, body {
    font-family: 'Teko', sans-serif !important;
}
body {
    overflow: hidden;
    height: 100vh !important;
    width: 100% !important;
    margin: unset !important;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.canvas-place {
    overflow: hidden;
    height: 100vh;
    width: 100%; 
    position: relative;
}

.canvas-place canvas {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    margin: unset !important;
}

.canvas-place video {
    position: relative !important;
}

.main h1 {
   width: 100%;
}

.camera-icon {
    position: absolute;
    z-index: 20;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}


/* TUTORIAL SECTION */

.main.tutorial {
    background: rgb(0 0 0 / 40%);
}

.upper-tutorial-text {
    color: white;
    text-align: center;
    font-size: 11px;
    z-index: 15;
    margin-bottom: 17px;
}


.lower-tutorial-text {
    color: white;
    background-color: #505050;
    width: 72px;
    height: 30px;
    text-align: center;
    font-size: 13px;
    padding-top: 7px;
    border-radius: 30px;
    z-index: 15;
    cursor: pointer;
}

.tutorial-arrow {
    top: 9%;
    left: 26%;
    scale: 1.3;
    position: absolute;
}

.tutorial-1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    top: 0;
}

.tutorial-2 {
    display: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    top: 0;
}

.main-tutorial-text {
    color: white;
    width: 175px;
    text-align: center;
    font-size: 11px;
    z-index: 15;
    margin-bottom: 21px;
}

a {
    color: unset;
}

/* ar-scenes tests */
a-scene {
    position: absolute !important;
}

/* мені стало різко похуй на мобайл, бо я одразу почав робити розмітку для мобільних :) */
@media (max-width:500px)  { 
    /* .left, .right {
        width: 100%;
    }
    .right {
        margin-left: 0px;
    }
    video, canvas {
        width: 1200px !important;
        height: 700px !important;
    } */
}